<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUwemO7O2b3eTtY92M4ZNT8fX-62oBlJg</string>
	<key>GCM_SENDER_ID</key>
	<string>496519631808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thirdAppTwo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>first-project-4016c</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-4016c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496519631808:ios:e8f114ae3e69d8086e6e25</string>
</dict>
</plist>